.font {
    font-family: arial, sans-serif;
}
.nav {
    padding: 0px 25px 20px 25px;
}
.rightalign {
    float: right;
}
.leftalign {
    float: left;
}
ol, ul {
    list-style: none;
}
li {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
}
.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: gray;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
}
.footleft {
    float: left;
}
.footright {
    float: right;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15em;
    width: 13em;
}
.search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 50%;
    border-radius: 15px;
    font-size: 26px;
}
.circle {
    height: 25px;
    width: 25px;
    background-color: hotpink;
    border: 0;
    border-radius: 50%;
}
.buttontop {
    height: 27px;
    width: 27px;
}
.container {
    vertical-align: middle;
}
.mid {
    display: flex;
    justify-content: center;
    padding: 30px;
}
.buttonmid {
    font-size: 15px;
    font-family: arial;
    padding: 10px 40px 10px 40px;
    margin-right: 10px;
    margin-left: 10px;
}